<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCAT</title>
	<link rel="stylesheet" href="../css/room.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	$(function() {
		var host = '{{config.host}}',
				messages = io.connect(host + '/messages'),
				roomNumber = +'{{roomNumber}}',
				userName = '{{user.fullName}}',
				userPic = '{{user.profilePic}}';

		messages.on('connect', function() {
			console.log('Connection established!');
			messages.emit('joinroom', { room: roomNumber, user: userName, userPic: userPic });
		});

		$(document).on('keyup', '.newmessage', function(e) {
			var $text = $(this);
			if (e.which === 13 && $(this).val()) {
				messages.emit('newmessage', {
					roomNumber: roomNumber,
					userName: userName,
					userPic: userPic,
					message: $text.val()
				});
				updateMessageFeed(userPic, userName, $text.val());
				$text.val('');
			}
		});

		messages.on('messagefeed', function(data) {
			var msgs = JSON.parse(data);
			updateMessageFeed(msgs.userPic, msgs.userName, msgs.message);
		});

		setInterval(function() {
			messages.emit('updateUsersList', { room: roomNumber });
		}, 15000);

		messages.on('updateUsersList', function(data) {
			var userList = JSON.parse(data),
					i,
					$users = $('.users'),
					user,
					str;

			$users.html('');
			for (i = 0; i < userList.length; i++) {
				user = userList[i];
				str = '<li><img src="' + user.userPic + '" alt="' + user.userName + '"/><h5>' + user.userName + '</h5></li>';
				$(str).prependTo($users);
			}
		});

		function updateMessageFeed(userPic, userName, message) {
			var str = '<li>';

			str += '<div class="msgbox">';
			str += '<div class="pic"><img src="' + userPic + '" alt="' + userName + '"/></div>';
			str += '<div class="msg"><p>' + message + '</p></div>';
			str += '</div>';
			str += '</li>';

			$(str).hide().prependTo('.messages').slideDown(100);
		}
	});
	</script>
</head>
<body>
<div class="rm-container">
		<h1 class="rm-title">ChatCAT</h1>
		<div class="rm-userbox">
			<img src="{{user.profilePic}}" class="userPic">
			<h3 class="userName">{{user.fullName}} | <a href="/logout">Logout</a><a href="/chatrooms">More Chatrooms</a></h3>
		</div>
		<div class="rm-roomname">
			<h5>{{roomName}}</h5>
		</div>
		<div class="rm-messages">
			<ul class="messages">
			</ul>
		</div>
		<div class="rm-users">
			<ul class="users"></ul>
		</div>
		<div class="rm-newmessage">
			<input type="text" class="newmessage" autocomplete="off" placeholder="Type in your message and press enter !">
			
		</div>
	</div>
</body>
</html>